<h2>Body Handling</h2>
<h3>Teeth Check</h3>
<table>
	<tr>
		<td><label>Completed</label><input type="number"
			ng-model="data.teethCompleted" id="teethCompleted" max="30"
			style="width: 3em" /><label>&nbsp;/&nbsp;Attempted</label><input type="number"
			ng-model="data.teethAttempted" id="teethAttempted" max="30"
			style="width: 3em" /></td>
		<td>
			<label>Had to be more assertive?</label>
			<label> 
				<input type="radio" ng-model="data.teethCheckAssertive" value="true" /> 
				Yes
			</label> 
			<label> 
				<input type="radio" ng-model="data.teethCheckAssertive" value="false" /> 
				No
			</label>
		</td>
	</tr>
	<tr>
		<td><label>Dog's reaction</label>
			<div isteven-multi-select input-model="data.teethcheckbehaviors"
				output-model="data.outputteethcheckbehaviors" button-label="name"
				item-label="name" tick-property="ticked"></div></td>
		<td ng-show="form.containsOther(data.outputteethcheckbehaviors)">
			<label>Other: </label> <input id="teethcheckbehaviorother" />
		</td>
	</tr>
</table>
<h3>Handling</h3>
<table>
	<tr>
		<td>
			<label>Tail tug</label>
			<div isteven-multi-select input-model="data.inputbh.tailtug"
				output-model="data.outputbh.tailtugbehaviors" button-label="name"
				item-label="name" tick-property="ticked">
			</div>
		</td>
		<td>
			<label>Ears L</label>
			<div isteven-multi-select input-model="data.inputbh.earsl"
				output-model="data.outputbh.earslbehaviors" button-label="name"
				item-label="name" tick-property="ticked"></div>
		</td>
		<td>
			<label>Ears R</label>
			<div isteven-multi-select input-model="data.inputbh.earsr"
				output-model="data.outputbh.earslbehaviors" button-label="name"
				item-label="name" tick-property="ticked"></div>
		</td>
		<td>
			<label>Paws Front L</label>
			<div isteven-multi-select input-model="data.inputbh.pawsfrontl"
				output-model="data.outputbh.pawsfrontlbehaviors" button-label="name"
				item-label="name" tick-property="ticked"></div>
		</td>
		<td>
			<label>Paws Front R</label>
			<div isteven-multi-select input-model="data.inputbh.pawsfrontr"
				output-model="data.outputbh.pawsfrontrbehaviors" button-label="name"
				item-label="name" tick-property="ticked"></div>
		</td>
	</tr>
	<tr>
		<td>
			<label>Paws Back L</label>
			<div isteven-multi-select input-model="data.inputbh.pawsbackl"
				output-model="data.outputbh.pawsbacklbehaviors" button-label="name"
				item-label="name" tick-property="ticked"></div>
		</td>
		<td>
			<label>Paws Back R</label>
			<div isteven-multi-select input-model="data.inputbh.pawsbackr"
				output-model="data.outputbh.pawsbackrbehaviors" button-label="name"
				item-label="name" tick-property="ticked"></div>
		</td>
		<td>
			<label>Hug front</label>
			<div isteven-multi-select input-model="data.inputbh.hugfront"
				output-model="data.outputbh.hugfrontbehaviors" button-label="name"
				item-label="name" tick-property="ticked"></div>
		</td>
		<td>
			<label>Hug side</label>
			<div isteven-multi-select input-model="data.inputbh.hugside"
				output-model="data.outputbh.hugsidebehaviors" button-label="name"
				item-label="name" tick-property="ticked"></div>
		</td>
		<td>
			<label>Pick up</label>
			<div isteven-multi-select input-model="data.inputbh.pickup"
				output-model="data.outputbh.pickupbehaviors" button-label="name"
				item-label="name" tick-property="ticked"></div>
		</td>
	</tr>
	<tr>
		<td>
			<label>Eye contact</label>
			<div isteven-multi-select input-model="data.inputbh.eyecontact"
				output-model="data.outputbh.eyecontactbehaviors" button-label="name"
				item-label="name" tick-property="ticked"></div>
		</td>
		<td>
			<label>Overall</label>
			<div isteven-multi-select input-model="data.inputbh.overall"
				output-model="data.outputbh.overallbehaviors" button-label="name"
				item-label="name" tick-property="ticked"></div>
		</td>
		
	</tr>
	<tr ng-show="form.objectContainsOther(data.outputbh)">
		<td colspan="5">
			<label>Other: </label>
			<input id="handlingbehaviorother" />
		</td>
	</tr>
</table>
<label>Handling comments</label>
<br />
<textarea id="handlingBehaviorComments" rows="{{form.commentHeight}}"
	cols="{{form.commentWidth}}">
</textarea>