<table cellpadding="10">
	<tr>
		<td><strong>Evaluator</strong></td>
		<td><input id="evaluatortxt" /></td>
		<td><strong>Handler</strong></td>
		<td><input id="handlertxt" /></td>
		<td><strong>Dog name</strong></td>
		<td><input id="dognametxt" /></td>
		<td><strong>ID #</strong></td>
		<td><input id="dogidtxt" /></td>
	</tr>
	<tr>
		<td><strong>Breed(s)</strong></td>
		<td><input id="breedtxt" /></td>
		<td><strong>Gender</strong></td>
		<td><input id="gendertxt" /></td>
		<td><strong>Age Range</strong></td>
		<td><input id="agetxt" /></td>
	</tr>
	<tr>
		<td><strong>Intake Date</strong></td>
		<td><input type="date" ng-model="data.intakeDate" id="intaketxt" /></td>
		<td><strong>Today's Date</strong></td>
		<td><input type="date" ng-model="data.evalDate" id="evaldatetxt" /></td>
		<td><strong>Re-eval</strong></td>
		<td><input id="reevaltxt" /></td>
		<td><strong>Pending</strong></td>
		<td><input id="pendingtxt" /></td>
	</tr>
</table>